$body-font-family: 'Quicksand', 'M PLUS Rounded 1c';
$heading-font-family: 'Sawarabi Mincho';

$headings: (
  'h1': (
    'size': 3.6rem,
    'weight': 900,
    'letter-spacing': -.24em,
    'font-family': Hannari
  ),
  'h2': (
    'size': 2.2rem,
    'weight': 800
  ),
  'subtitle-1': (
      'size': 1.5rem
  )
);

$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0;
$footer-padding: 2px 4px;

$list-padding: 0;
$list-shaped-padding: 0;
$list-item-padding: 0;
$list-item-action-icon-margin: 0;
$list-item-content-padding: 0 0 2px 0;

$card-link-focus-opacity: none;
