$body-font-family: 'Quicksand', 'M PLUS Rounded 1c';
$heading-font-family: 'Sawarabi Mincho';

$headings: (
  'h1': (
    'size': 3.6rem,
    'weight': 900,
    'letter-spacing': -.24em,
    'font-family': Hannari
  )
);

$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0;
$footer-padding: 2px 4px;
